SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleDataSource" targetNamespace="Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="queue" type="tns:queue" />
      <xs:element name="shows" type="tns:shows" />
      <xs:element name="Show" type="tns:Show" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queue">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="queueItem" type="tns:queueItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queueItem">
    <xs:attribute blend:Format="Company Name" name="SeriesName" type="xs:string" />
    <xs:attribute blend:FormatParameters="..\..\..\..\..\..\..\Downloads\Tmp\Designdata" name="Image" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="2,12" name="EpisodeName" type="xs:string" />
    <xs:attribute name="EpisodePos" type="xs:double" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="shows">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="showsItem" type="tns:showsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="showsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Watched" type="xs:double" />
    <xs:attribute blend:FormatParameters="..\..\..\..\..\..\..\Downloads\Tmp\Designdata" name="Image" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="Show">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Genre" type="xs:string" />
    <xs:attribute name="Followers" type="xs:double" />
    <xs:attribute blend:Format="Name" name="Actors" type="xs:string" />
    <xs:attribute blend:FormatParameters="SampleData\SampleDataSource\SampleDataSource_Files" name="Image" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Date" name="Airs" type="xs:string" />
    <xs:attribute blend:FormatParameters="40,11" name="Summary" type="xs:string" />
  </xs:complexType>
</xs:schema>